{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about">

    <div class="image">
        <img src="{% static 'images/Learning-amico.png' %}" alt="">
    </div>

    <div class="content">
        <h3>All About Notes Sharing</h3>
        <p>“Online Note Sharing” is a project designed for sharing notes through a website. Users can find notes for specific subjects on this platform. This project is developed using Python, Django, and SQLite. First, users need to sign up, and then they can log in to the system.</p>
        <p>Online Notes Sharing is open source; you can download and edit it as per your needs.</p>
    </div>
    

</section>
{% endblock %}